li a {
    color: rgb(255, 255, 255);
}

body {
    background-image: linear-gradient(to bottom, rgb(142, 85, 255), rgb(255, 119, 119));
}

li {
    margin-bottom: 12px;
    list-style-type:square;
}

li::marker {
    color: rgb(255, 255, 255);
}

ul {
    margin-top: 100px;
}
