li a {
    color: rgb(255, 255, 255);
}

body {
    background: gray url('./images/background.png') no-repeat;
    background-size: cover;
    background-position: fixed;
}

li {
    margin-bottom: 12px;
    list-style-type:square;
}

li::marker {
    color: rgb(26, 255, 0);
}

ul {
    margin-top: 100px;
}
